@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="floatbox">

            <div class="cmdlinebox">
                <div class="numcol">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                    <p>6</p>
                    <p>7</p>
                </div>
                <div class="cmdlinetext">
                    <p>using Developer.Data;</p>
                    <p>namespace Introduction {</p>
                    <p>"Hi there! </p>
                    <p>My name is Cristian Sotomayor</p>
                    <p>I am a software engineer located in</p>
                    <p>Los Angeles, California.</p>
                    <p>Thank you for visiting." }</p>

                </div>
                <button class="gtkmbutton" id="gtkm">Get to know me</button>
            </div>

            <div class="aboutbox">
                <div class="profimage">
                    <iframe src="https://giphy.com/embed/h7deZA51Ru9pwzlz0C" width="200px" height="200px" frameBorder="0" class="giphy-embed"></iframe>
                    <button class="resumebutton1">Download my resume</button>
                </div>
                <div class="abouttext">

                    <p>Name: Cristian Sotomayor</p>
                    <p>Location: Los Angeles, CA</p>
                    <p>I am a software engineer and architectural designer with two years of experience developing software, and six years designing buildings. <br><br> My purpose is to utilize my tech skills to catalyze the advent of automation in architecture, construction and engineering.</p>
                    <button class="resumebutton2">Download my resume</button>
                </div>
            </div>

            <div class="tabs">
                <div class="tabby-tab">
                    <input type="radio" id="tab-1" name="tabby-tabs" checked>
                    <label for="tab-1">Projects</label>
                    <div class="tabby-content">
                        <p class="tabpar">All my Projects are in the process of being uploaded! :)</p>
                        <button class="expandcls1" id="expandid1">expand^</button>
                        <button class="collapsecls1" id="collapseid1">collapsev</button>

                    </div>
                </div>

                <div class="tabby-tab">
                    <input type="radio" id="tab-2" name="tabby-tabs">
                    <label for="tab-2">Coding Challenges</label>
                    <div class="tabby-content">
                        <p class="tabpar">All my Projects are in the process of being uploaded! :)</p>
                        <button class="expandcls2" id="expandid2">expand^</button>
                        <button class="collapsecls2" id="collapseid2">collapsev</button>
                    </div>
                </div>

                <div class="tabby-tab">
                    <input type="radio" id="tab-3" name="tabby-tabs">
                    <label for="tab-3">####</label>
                    <div class="tabby-content">
                        <p class="tabpar">Filler.</p>
                        <button class="expandcls3" id="expandid3">expand^</button>
                        <button class="collapsecls3" id="collapseid3">collapsev</button>
                    </div>
                </div>

                <div class="tabby-tab">
                    <input type="radio" id="tab-4" name="tabby-tabs">
                    <label for="tab-4">Contact</label>
                    <div class="tabby-content">
                        <button class="expandcls4" id="expandid4">expand^</button>
                        <button class="collapsecls4" id="collapseid4">collapsev</button>



                        <form action="https://formspree.io/f/mdoyjpal" method="POST">

                            <input type="text" id="fname" name="fullname" placeholder="Your full name..">

                            <input type="text" name="email" placeholder="Your email..">

                            <input type="message" id="subject" name="message" placeholder="Write something..">
                            <input type="submit" value="Submit">

                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>
