body {
    background: #001E57;
    height: 100%;
    width: 100%;
}

.floatbox {
    background: linear-gradient(0deg, #00000088 100%, #ffffff44 100%);
    position: absolute;
    color: white;
    top: 25%;
    bottom: 25%;
    left: 0%;
    right: 0%;
    border-radius: 8px;
    border: solid black;
    box-shadow: 0px 0px 60px 5px #000000;
    min-height: 400px;
    z-index:;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.cmdlinebox {
    position: absolute;
    background:;
    width: 100%;
    top: 0%;
    bottom: 0%;
    display:;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}


.numcol {
    border-right: 2px solid grey;
    position: absolute;
    background:;
    top: 25px;
    bottom: 60px;
    left: 25px;
    width: 29px;
    font-family: "Courier";
    white-space: nowrap;
    overflow: hidden;
}


.cmdlinetext {
    position: absolute;
    background:;
    top: 25px;
    bottom: 25px;
    left: 70px;
    right: 25px;
    font-family: "Courier";
    white-space: nowrap;
    overflow: hidden;
}

.aboutbox {
    position: absolute;
    top: 0;
    background:;
    width: 100%;
    height: 50%;
    visibility: collapse;
    opacity: 0;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.profimage {
    position: absolute;
    background:;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 50%;
}

.giphy-embed {
    position: absolute;
    border-radius: 50%;
    border: solid;
}

.abouttext {
    position: absolute;
    background:;
    top: 25px;
    bottom: 25px;
    left: 50%;
    right: 25px;
    font-family: "Courier";
    white-space: wrap;
    overflow: hidden;
}

.tabs {
    position: absolute;
    background:;
    width: 100%;
    top: 50%;
    bottom: 0%;
    display: flex;
    min-height:;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    font-family: courier;
    border-radius: 8px;
    visibility: collapse;
    opacity: 0;
}

.tabpar {
    float: left;
}


.tabby-tab {
    flex: 1;
}

    .tabby-tab label {
        display: block;
        box-sizing: border-box;
        /* tab content must clear this */
        height: 40px;
        padding: 10px;
        text-align: center;
        background:;
        cursor: pointer;
        transition: background 0.5s ease;
        border-radius: 8px 8px 0px 0px;
    }

        .tabby-tab label:hover {
            background: linear-gradient(0deg, #00000088 100%, #ffffff44 100%);
            border-radius: 8px 8px 0px 0px;
        }

.tabby-content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    /* clear the tab labels */
    top: 40px;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(0deg, #00000088 100%, #ffffff44 100%);
    transition: opacity 0.8s ease, transform 0.8s ease;
    /* show/hide */
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top;
    display:;
}


/* MAKE IT WORK ----- */

.tabby-tab [type=radio] {
    display: none;
}

[type=radio]:checked ~ label {
    background: linear-gradient(0deg, #00000088 100%, #ffffff44 100%);
    z-index: 2;
}

    [type=radio]:checked ~ label ~ .tabby-content {
        z-index: 1;
        /* show/hide */
        opacity: 1;
        transform: scale(1);
    }


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    /* Allow the user to vertically resize the textarea (not horizontally) */
    background: linear-gradient(0deg, #00000088 100%, #ffffff44 100%);
}

input[type=message], textarea {
    POSITION:;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */

    bottom: 20px;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    background: linear-gradient(0deg, #00000088 100%, #ffffff44 100%);
}

/* Style the submit button with a specific background color etc */
input[type=subit] {
    background-color: rgb(254,196,255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submt]:hover {
    background-color: rgb(47, 244, 255);
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

/*button classes */


input[type=submit] {
    border: none;
    color: black;
    padding: 15px 32px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(254,196,255);
    bottom: 0;
}

    input[type=submit]:hover {
        background-color: rgb(47, 244, 255);
    }

.resumebutton1 {
    position: absolute;
    border: none;
    color: black;
    padding: 15px 32px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(254,196,255);
    bottom: 0;
}

    .resumebutton1:hover {
        background-color: rgb(47, 244, 255);
        color: black;
    }

.resumebutton2 {
    position: absolute;
    border: none;
    color: black;
    padding: 15px 32px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(254,196,255);
    bottom: 0;
    opacity: 0;
    visibility: collapse;
}

    .resumebutton2:hover {
        background-color: rgb(47, 244, 255);
        color: black;
    }

.gtkmbutton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-family: "Courier";
    white-space: nowrap;
    overflow: hidden;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:;
    cursor: pointer;
    background: rgb(254,196,255);
    z-index: 5;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    animation: aboutappear;
    animation-delay: 12s;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

    .gtkmbutton:hover {
        background-color: rgb(47, 244, 255);
        color: black;
    }

.expandcls1 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0);
    float: right;
    bottom: 100%;
    left: 100%;
}

.expandcls2 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0);
    float: right;
    bottom: 100%;
    left: 100%;
}

.expandcls3 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0);
    float: right;
    bottom: 100%;
    left: 100%;
}

.expandcls4 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0);
    float: right;
    bottom: 100%;
    left: 100%;
}

.expandcollapse {
    visibility: collapse;
    float: left;
}

.collapse {
    visibility: collapse;
    float: left;
}


.collapsecls1 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0);
    float: right;
    bottom: 100%;
    left: 100%;
    visibility: collapse;
}

.collapsecls2 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0);
    float: right;
    bottom: 100%;
    left: 100%;
    visibility: collapse;
}

.collapsecls3 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0);
    float: right;
    bottom: 100%;
    left: 100%;
    visibility: collapse;
}

.collapsecls4 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0);
    float: right;
    bottom: 100%;
    left: 100%;
    visibility: collapse;
}
/* javascript activated trasnsitions */

.visible {
    visibility: visible;
}

.collapse {
    visibility: collapse;
    float: left;
}

.open {
    bottom: 0%;
    top: 0%;
}

.movebottomhalf {
    top: 50%;
    bottom: 0%;
    display: flex;
}

.movetophalf {
    top: 0%;
    bottom: 50%;
}

.appear {
    visibility: visible;
    opacity: 100%;
}

.gtkmdisappear {
    visibility: collapse;
    opacity: 0%;
}

.grow {
    top: 0%;
    bottom: 0%;
    z-index: 15;
}

/* CSS animations */

.cmdlinetext p {
    border-right: .15em solid orange;
    font-family: "Courier";
    white-space: nowrap;
    overflow: hidden;
}

    .cmdlinetext p:nth-child(1) {
        width: 7.5em;
        -webkit-animation: type1 1s steps(40, end);
        animation: type1 1s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .cmdlinetext p:nth-child(2) {
        width: 5em;
        opacity: 0;
        -webkit-animation: type1 1s steps(40, end);
        animation: type1 1s steps(40, end);
        -webkit-animation-delay: 2s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .cmdlinetext p:nth-child(3) {
        width: 16.75em;
        opacity: 0;
        -webkit-animation: type1 2s steps(40, end);
        animation: type1 2s steps(40, end);
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .cmdlinetext p:nth-child(4) {
        width: 20em;
        opacity: 0;
        -webkit-animation: type1 2s steps(40, end);
        animation: type1 2s steps(40, end);
        -webkit-animation-delay: 2s;
        animation-delay: 4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .cmdlinetext p:nth-child(5) {
        width: 13em;
        opacity: 0;
        -webkit-animation: type1 2s steps(40, end);
        animation: type1 2s steps(40, end);
        -webkit-animation-delay: 2s;
        animation-delay: 6s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .cmdlinetext p:nth-child(6) {
        width: 24.5em;
        opacity: 0;
        -webkit-animation: type2 2.5s steps(40, end), blink .5s step-end infinite alternate;
        animation: type2 2.5s steps(40, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 2s;
        animation-delay: 8s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

.numcol p:nth-child(1) {
    animation: appear;
    animation-duration: .15s;
}

.numcol p:nth-child(2) {
    animation: appear;
    animation-duration: 1s;
}

.numcol p:nth-child(3) {
    animation: appear;
    animation-duration: 2s;
}

.numcol p:nth-child(4) {
    animation: appear;
    animation-duration: 4s;
}

.numcol p:nth-child(5) {
    animation: appear;
    animation-duration: 6s;
}

.numcol p:nth-child(6) {
    animation: appear;
    animation-duration: 8s;
}

@keyframes type1 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    15s 99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type1 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

transition-delay: 2s;

@keyframes type2 {
    0%

{
    width: 0;
}

1% {
    opacity: 1;
}

100% {
    opacity: 1;
}

}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



@keyframes aboutappear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* breakpoints*/

@media (min-width: 600px) {
    .floatbox {
        top: 25%;
        bottom: 25%;
        left: 10%;
        right: 10%;
    }

    .open {
        bottom: 10%;
        top: 10%
    }

    .gtkmbutton {
        position: absolute;
        background:;
        bottom: 25px;
        left: 70px;
        right: 25px;
        font-family: "Courier";
        white-space: nowrap;
        overflow: hidden;
        border: none;
        color: black;
        padding: 15px 32px;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: rgb(254,196,255);
        z-index: 5;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
        animation: aboutappear;
        animation-delay: 12s;
        animation-duration: .25s;
        animation-fill-mode: forwards;
        opacity: 0%;
        width: 200px;
        height: 50px;
    }
}

@media (min-width: 900px) {

    .giphy-embed {
        height: 300px;
        width: 300px;
        left: 12.25%;
    }

    .resumebutton1 {
        opacity: 0;
        visibility: collapse;
    }

    .resumebutton2 {
        opacity: 100%;
        visibility: visible;
    }

    .floatbox {
        top: 25%;
        bottom: 25%;
        left: 25%;
        right: 25%;
        width: 960px;
    }

    .open {
        bottom: 6.25%;
        top: 6.25%
    }

    .gtkmbutton {
        position: absolute;
        background:;
        bottom: 25px;
        left: 70px;
        right: 25px;
        font-family: "Courier";
        white-space: nowrap;
        overflow: hidden;
        border: none;
        color: black;
        padding: 15px 32px;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: rgb(254,196,255);
        z-index: 5;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
        animation: aboutappear;
        animation-delay: 12s;
        animation-duration: .25s;
        animation-fill-mode: forwards;
        opacity: 0%;
        width: 200px;
        height: 50px;
    }
}
/* background*/

@keyframes move {
	100% {
		transform: translate3d(0, 0, 1px) rotate(360deg);
	}
}

.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #666666;
	overflow: hidden;
}

	.background span {
		width: 37vmin;
		height: 37vmin;
		border-radius: 37vmin;
		backface-visibility: hidden;
		position: absolute;
		animation: move;
		animation-duration: 29;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}


		.background span:nth-child(0) {
			color: #fec4ff;
			top: 87%;
			left: 30%;
			animation-duration: 161s;
			animation-delay: -107s;
			transform-origin: 1vw 18vh;
			box-shadow: -74vmin 0 9.478522837457362vmin currentColor;
		}

		.background span:nth-child(1) {
			color: #6c6c6c;
			top: 50%;
			left: 78%;
			animation-duration: 25s;
			animation-delay: -126s;
			transform-origin: -24vw 14vh;
			box-shadow: -74vmin 0 9.640312709666533vmin currentColor;
		}

		.background span:nth-child(2) {
			color: #000404;
			top: 29%;
			left: 3%;
			animation-duration: 12s;
			animation-delay: -51s;
			transform-origin: -19vw 1vh;
			box-shadow: -74vmin 0 10.07622919333909vmin currentColor;
		}

		.background span:nth-child(3) {
			color: #ffffff;
			top: 58%;
			left: 43%;
			animation-duration: 84s;
			animation-delay: -61s;
			transform-origin: -11vw 8vh;
			box-shadow: 74vmin 0 9.683032217823882vmin currentColor;
		}

		.background span:nth-child(4) {
			color: #000404;
			top: 70%;
			left: 4%;
			animation-duration: 168s;
			animation-delay: -128s;
			transform-origin: 23vw 12vh;
			box-shadow: 74vmin 0 9.572500795593156vmin currentColor;
		}

		.background span:nth-child(5) {
			color: #000404;
			top: 45%;
			left: 14%;
			animation-duration: 172s;
			animation-delay: -88s;
			transform-origin: -23vw -3vh;
			box-shadow: -74vmin 0 9.290437704711115vmin currentColor;
		}

		.background span:nth-child(6) {
			color: #000404;
			top: 95%;
			left: 95%;
			animation-duration: 86s;
			animation-delay: -152s;
			transform-origin: 16vw 3vh;
			box-shadow: 74vmin 0 9.320166691529378vmin currentColor;
		}

		.background span:nth-child(7) {
			color: #2ff4ff;
			top: 42%;
			left: 42%;
			animation-duration: 29s;
			animation-delay: -123s;
			transform-origin: 5vw 25vh;
			box-shadow: 74vmin 0 9.438440996292552vmin currentColor;
		}

		.background span:nth-child(8) {
			color: #6c6c6c;
			top: 6%;
			left: 69%;
			animation-duration: 103s;
			animation-delay: -180s;
			transform-origin: -16vw -9vh;
			box-shadow: -74vmin 0 9.774772080023196vmin currentColor;
		}

		.background span:nth-child(9) {
			color: #fec4ff;
			top: 57%;
			left: 63%;
			animation-duration: 74s;
			animation-delay: -129s;
			transform-origin: -7vw -9vh;
			box-shadow: -74vmin 0 9.424181190484335vmin currentColor;
		}

		.background span:nth-child(10) {
			color: #fec4ff;
			top: 81%;
			left: 2%;
			animation-duration: 179s;
			animation-delay: -201s;
			transform-origin: 12vw 13vh;
			box-shadow: -74vmin 0 10.040570351395065vmin currentColor;
		}

		.background span:nth-child(11) {
			color: #6c6c6c;
			top: 82%;
			left: 43%;
			animation-duration: 132s;
			animation-delay: -17s;
			transform-origin: 15vw -21vh;
			box-shadow: -74vmin 0 9.441071365680683vmin currentColor;
		}

		.background span:nth-child(12) {
			color: #fec4ff;
			top: 43%;
			left: 75%;
			animation-duration: 191s;
			animation-delay: -5s;
			transform-origin: -23vw -4vh;
			box-shadow: 74vmin 0 9.785969583697197vmin currentColor;
		}

		.background span:nth-child(13) {
			color: #fec4ff;
			top: 42%;
			left: 24%;
			animation-duration: 84s;
			animation-delay: -183s;
			transform-origin: -17vw -17vh;
			box-shadow: -74vmin 0 9.959683224730584vmin currentColor;
		}

		.background span:nth-child(14) {
			color: #000404;
			top: 17%;
			left: 97%;
			animation-duration: 28s;
			animation-delay: -90s;
			transform-origin: 12vw 14vh;
			box-shadow: 74vmin 0 9.650499750695278vmin currentColor;
		}

		.background span:nth-child(15) {
			color: #fec4ff;
			top: 77%;
			left: 50%;
			animation-duration: 27s;
			animation-delay: -133s;
			transform-origin: -13vw 20vh;
			box-shadow: 74vmin 0 9.727561893797297vmin currentColor;
		}

		.background span:nth-child(16) {
			color: #ffffff;
			top: 25%;
			left: 20%;
			animation-duration: 27s;
			animation-delay: -133s;
			transform-origin: 16vw 3vh;
			box-shadow: 74vmin 0 9.535319039025095vmin currentColor;
		}

		.background span:nth-child(17) {
			color: #6c6c6c;
			top: 40%;
			left: 2%;
			animation-duration: 39s;
			animation-delay: -120s;
			transform-origin: -7vw 12vh;
			box-shadow: -74vmin 0 9.7489241352144vmin currentColor;
		}

		.background span:nth-child(18) {
			color: #2ff4ff;
			top: 21%;
			left: 9%;
			animation-duration: 183s;
			animation-delay: -117s;
			transform-origin: -4vw 2vh;
			box-shadow: -74vmin 0 9.435905301284274vmin currentColor;
		}

		.background span:nth-child(19) {
			color: #ffffff;
			top: 97%;
			left: 91%;
			animation-duration: 177s;
			animation-delay: -135s;
			transform-origin: -21vw 18vh;
			box-shadow: 74vmin 0 9.805269090064664vmin currentColor;
		}

		.background span:nth-child(20) {
			color: #6c6c6c;
			top: 68%;
			left: 12%;
			animation-duration: 147s;
			animation-delay: -143s;
			transform-origin: 9vw 3vh;
			box-shadow: 74vmin 0 9.878170759432642vmin currentColor;
		}

		.background span:nth-child(21) {
			color: #2ff4ff;
			top: 91%;
			left: 59%;
			animation-duration: 91s;
			animation-delay: -32s;
			transform-origin: -16vw 22vh;
			box-shadow: 74vmin 0 9.33299936146824vmin currentColor;
		}

		.background span:nth-child(22) {
			color: #2ff4ff;
			top: 89%;
			left: 52%;
			animation-duration: 31s;
			animation-delay: -18s;
			transform-origin: -8vw -20vh;
			box-shadow: -74vmin 0 10.102543038959523vmin currentColor;
		}

		.background span:nth-child(23) {
			color: #ffffff;
			top: 25%;
			left: 16%;
			animation-duration: 113s;
			animation-delay: -164s;
			transform-origin: -20vw 20vh;
			box-shadow: -74vmin 0 10.143275145438373vmin currentColor;
		}

		.background span:nth-child(24) {
			color: #000404;
			top: 18%;
			left: 44%;
			animation-duration: 54s;
			animation-delay: -173s;
			transform-origin: 19vw -5vh;
			box-shadow: -74vmin 0 9.592104565065087vmin currentColor;
		}

		.background span:nth-child(25) {
			color: #fec4ff;
			top: 54%;
			left: 50%;
			animation-duration: 87s;
			animation-delay: -55s;
			transform-origin: 25vw 3vh;
			box-shadow: -74vmin 0 9.989794705756655vmin currentColor;
		}

		.background span:nth-child(26) {
			color: #6c6c6c;
			top: 86%;
			left: 99%;
			animation-duration: 36s;
			animation-delay: -191s;
			transform-origin: -11vw 20vh;
			box-shadow: -74vmin 0 9.517794781413519vmin currentColor;
		}

		.background span:nth-child(27) {
			color: #2ff4ff;
			top: 24%;
			left: 88%;
			animation-duration: 140s;
			animation-delay: -105s;
			transform-origin: 20vw 10vh;
			box-shadow: -74vmin 0 9.263953932342261vmin currentColor;
		}

		.background span:nth-child(28) {
			color: #2ff4ff;
			top: 1%;
			left: 48%;
			animation-duration: 52s;
			animation-delay: -12s;
			transform-origin: 6vw -20vh;
			box-shadow: 74vmin 0 10.089091571198633vmin currentColor;
		}

		.background span:nth-child(29) {
			color: #2ff4ff;
			top: 90%;
			left: 6%;
			animation-duration: 135s;
			animation-delay: -188s;
			transform-origin: 14vw 7vh;
			box-shadow: 74vmin 0 9.486367949743492vmin currentColor;
		}

		.background span:nth-child(30) {
			color: #2ff4ff;
			top: 99%;
			left: 79%;
			animation-duration: 153s;
			animation-delay: -128s;
			transform-origin: 2vw 4vh;
			box-shadow: -74vmin 0 9.551008998208921vmin currentColor;
		}

		.background span:nth-child(31) {
			color: #fec4ff;
			top: 67%;
			left: 35%;
			animation-duration: 117s;
			animation-delay: -97s;
			transform-origin: -15vw 11vh;
			box-shadow: -74vmin 0 9.639167144378616vmin currentColor;
		}

		.background span:nth-child(32) {
			color: #6c6c6c;
			top: 50%;
			left: 60%;
			animation-duration: 50s;
			animation-delay: -194s;
			transform-origin: -19vw -9vh;
			box-shadow: -74vmin 0 10.033132000819588vmin currentColor;
		}

		.background span:nth-child(33) {
			color: #fec4ff;
			top: 22%;
			left: 66%;
			animation-duration: 23s;
			animation-delay: -8s;
			transform-origin: 1vw -21vh;
			box-shadow: -74vmin 0 9.492432639038975vmin currentColor;
		}

		.background span:nth-child(34) {
			color: #000404;
			top: 93%;
			left: 12%;
			animation-duration: 164s;
			animation-delay: -144s;
			transform-origin: 22vw -11vh;
			box-shadow: -74vmin 0 9.51572171772842vmin currentColor;
		}

		.background span:nth-child(35) {
			color: #6c6c6c;
			top: 30%;
			left: 6%;
			animation-duration: 121s;
			animation-delay: -126s;
			transform-origin: 5vw 0vh;
			box-shadow: -74vmin 0 9.307465594376477vmin currentColor;
		}

		.background span:nth-child(36) {
			color: #ffffff;
			top: 8%;
			left: 27%;
			animation-duration: 200s;
			animation-delay: -177s;
			transform-origin: 9vw -2vh;
			box-shadow: -74vmin 0 9.434073717530373vmin currentColor;
		}

		.background span:nth-child(37) {
			color: #6c6c6c;
			top: 3%;
			left: 24%;
			animation-duration: 82s;
			animation-delay: -91s;
			transform-origin: -8vw -8vh;
			box-shadow: -74vmin 0 9.602855777675448vmin currentColor;
		}

		.background span:nth-child(38) {
			color: #000404;
			top: 74%;
			left: 76%;
			animation-duration: 147s;
			animation-delay: -131s;
			transform-origin: 6vw -18vh;
			box-shadow: -74vmin 0 9.433702466000497vmin currentColor;
		}

		.background span:nth-child(39) {
			color: #000404;
			top: 86%;
			left: 40%;
			animation-duration: 49s;
			animation-delay: -183s;
			transform-origin: -8vw 5vh;
			box-shadow: -74vmin 0 9.444651266388407vmin currentColor;
		}

		.background span:nth-child(40) {
			color: #2ff4ff;
			top: 59%;
			left: 85%;
			animation-duration: 42s;
			animation-delay: -123s;
			transform-origin: 19vw 0vh;
			box-shadow: -74vmin 0 9.706465152688953vmin currentColor;
		}

		.background span:nth-child(41) {
			color: #fec4ff;
			top: 95%;
			left: 82%;
			animation-duration: 187s;
			animation-delay: -183s;
			transform-origin: -4vw 3vh;
			box-shadow: 74vmin 0 9.629695811727322vmin currentColor;
		}

		.background span:nth-child(42) {
			color: #ffffff;
			top: 35%;
			left: 44%;
			animation-duration: 166s;
			animation-delay: -125s;
			transform-origin: 16vw 19vh;
			box-shadow: -74vmin 0 10.207996840476278vmin currentColor;
		}

		.background span:nth-child(43) {
			color: #6c6c6c;
			top: 63%;
			left: 40%;
			animation-duration: 78s;
			animation-delay: -142s;
			transform-origin: -4vw -7vh;
			box-shadow: -74vmin 0 9.953388840977922vmin currentColor;
		}

		.background span:nth-child(44) {
			color: #ffffff;
			top: 49%;
			left: 5%;
			animation-duration: 145s;
			animation-delay: -134s;
			transform-origin: -10vw -3vh;
			box-shadow: 74vmin 0 9.733587758097668vmin currentColor;
		}

		.background span:nth-child(45) {
			color: #2ff4ff;
			top: 36%;
			left: 70%;
			animation-duration: 206s;
			animation-delay: -150s;
			transform-origin: -21vw -5vh;
			box-shadow: 74vmin 0 9.949711206870274vmin currentColor;
		}

		.background span:nth-child(46) {
			color: #000404;
			top: 97%;
			left: 81%;
			animation-duration: 68s;
			animation-delay: -134s;
			transform-origin: -4vw 22vh;
			box-shadow: 74vmin 0 9.687002468940648vmin currentColor;
		}

		.background span:nth-child(47) {
			color: #fec4ff;
			top: 42%;
			left: 26%;
			animation-duration: 49s;
			animation-delay: -118s;
			transform-origin: -22vw -10vh;
			box-shadow: 74vmin 0 9.493667550743313vmin currentColor;
		}

		.background span:nth-child(48) {
			color: #6c6c6c;
			top: 57%;
			left: 87%;
			animation-duration: 181s;
			animation-delay: -5s;
			transform-origin: 21vw -11vh;
			box-shadow: 74vmin 0 9.78957334362771vmin currentColor;
		}

		.background span:nth-child(49) {
			color: #6c6c6c;
			top: 17%;
			left: 42%;
			animation-duration: 81s;
			animation-delay: -166s;
			transform-origin: -5vw 19vh;
			box-shadow: 74vmin 0 9.785408287709283vmin currentColor;
		}